nav {

    ul {

       display: flex;
       gap: 20px;
       list-style: none;
       margin-top: 50px;
       margin: 20px;
    }



   a {
     
      
      text-decoration: none;
      color: rgb(206, 16, 16);
      font-size: 25px;
      border: 2px solid rgb(206, 16, 16);
      border-radius: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: audiowide, sans-serif;
       
   }
  
    
}

a:hover {
    background-color: rgb(206, 16, 16);
    color: white;
    transition: 0.3s;
}